language: python
sudo: false
python:
- 2.7
- 3.4
- 3.5
- 3.6
cache: pip
install: make install
script: make test
after_success:
- coveralls
matrix:
  fast_finish: true
  include:
  - python: '2.7'
    script: make lint
